/**
 * Configure Tailwind v4 in this file using CSS variables and directives:
 * https://tailwindcss.com/blog/tailwindcss-v4-alpha#css-first-configuration 
 */

@import 'tailwindcss';

:root{
    --theme-base-color: #BC5307;
    --theme-accent-color: #FAED7F;
    --theme-purple-color: #160C28;
    --theme-black-color: #000411;
    --theme-azure-color: #3185FC;
}